.row-profile{
    padding-left: 45% !important;
    padding-right: 46% !important;
    padding-top: 2% !important;
}

.row-profile-name{
    padding-top: 15% !important;
    text-align:  center;
    width: 100%;
}